{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sort</title>
    <link rel="stylesheet" href="{% static 'main/hr_sort.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="{% static 'main/hr_sort.js' %}"></script>
</head>
<body>
    <header class="header">
        <div class="div-logo">
            <div class="div-logo1">
                <img src="{% static 'main/img/logo.png' %}" class="logo" height="70px">
            </div>
            <div class="div-logo-text">
                <span class="logo-text">Webant</span>
            </div>
        </div>
        <div class="div-number">
            <div class="div-number">
                <span class="number">+7(960)466-01-00</span>
            </div>
            <div class="div-number-photo">
                <img src="{% static 'main/img/logo.png' %}" height="70px" width="70px">
            </div>
        </div>
    </header>
    <div class="container">
        <div class="div-select">
            <div class="div-select1">
                <div class="select">
                    <span class="select-text">Backend</span>
                    <span class="select-des">
                        <span class="Backend" id="INTERN">INTERN</span><br>
                        <span class="Backend" id="JUNIOR">JUNIOR</span><br>
                        <span class="Backend" id="MIDDLE">MIDDLE</span><br>
                    </span>    
                </div>
                <div class="select">
                    <span class="select-text">Frontend</span>
                    <span class="select-des">
                        <span class="Frontend" id="INTERN">INTERN</span><br>
                        <span class="Frontend" id="JUNIOR">JUNIOR</span><br>
                        <span class="Frontend" id="MIDDLE">MIDDLE</span><br>
                    </span>
                </div>
                <div class="select">
                    <span class="select-text">Flutter</span>
                    <span class="select-des">
                        <span class="Flutter" id="INTERN">INTERN</span><br>
                        <span class="Flutter" id="JUNIOR">JUNIOR</span><br>
                        <span class="Flutter" id="MIDDLE">MIDDLE</span><br>
                    </span>
                </div>
                <div class="select">
                    <span class="select-text">IOS</span>
                    <span class="select-des">
                        <span class="IOS" id="INTERN">INTERN</span><br>
                        <span class="IOS" id="JUNIOR">JUNIOR</span><br>
                        <span class="IOS" id="MIDDLE">MIDDLE</span><br>
                    </span>
                </div>
                <div class="select1">
                    <span class="select-text" id="DevOps Engineer">DevOps Engineer</span>
                </div>
                <div class="select1">
                    <span class="select-text" id="Project manager">Project manager</span>
                </div>
                <div class="select1">
                    <span class="select-text" id="QA Engineer">QA Engineer</span>
                </div>
                <div class="select1">
                    <span class="select-text" id="Офис-менеджер">Офис-менеджер</span>
                </div>
            </div>
        </div>
        <div class="div-rezume">

        </div>
    </div>
</body>
</html>