body, html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.header{
    width: 100%;
    border-bottom: 2px solid orangered;
    background-color: #d9d9d9;
    display: flex;
    justify-content: space-between;
}

.div-logo{
    margin-left: 20px;
    display: flex;
}

.div-logo-text{
    margin-left: 20px;
}

.div-number{
    margin-right: 20px;
    display: flex;
}

.main, .logo-text, .contact, .rezume, .number{
    font-weight: bold;
    font-size: 22px;
    line-height: 70px;
}

.container{
    padding-left: 20px;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}

.text{
    font-size: 22px;
    font-weight: bold;
}

.in{
    width: 700px;
    height: 30px;
}

.div-name{
    margin-bottom: 30px;
}

.div-name2{
    margin-top: 30px;
    margin-bottom: 30px;
}

.cont2{
    text-align: center;
    margin-right: 20px;
}

.cont3{
    text-align: center;
    background-color: orangered;
    height: 250px;
    width: 250px;
    border-radius: 125px;
}

.ava{
    margin-top: 70px;
}